body {
    display: flex;
    background-image: url(https://reeeooon.github.io/genshinbd/img/back/backimg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
main {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
}
h2 {
    color: rgb(85, 2, 85);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 80%;
    margin: 1vh;
    margin-left: 1%;
}
.charlist {
    background-color: rgba(240, 255, 240, .5);
    border: 1px solid honeydew;
    border-radius: 3px; 
}
.charblock {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

