body {
    display: flex;
    background-image: url(https://reeeooon.github.io/genshinbd/img/back/backimg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
main {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
}
h2 {
    color: rgb(85, 2, 85);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 80%;
    margin: 1vh;
    margin-left: 1%;
}
.charlist {
    background-color: rgba(240, 255, 240, .5);
    border: 1px solid honeydew;
    border-radius: 3px; 
    width: 80vw;
}
.charblock {
    display: flex;
    flex-wrap: wrap;
}
.chcard {
    background-color: rgba(240, 255, 240, .6);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    box-shadow: 1px 1px rgba(0, 0, 0, .3), -1px -1px rgba(0, 0, 0, .3);
}
.chcard:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3), -3px -3px 5px rgba(0, 0, 0, .3);
}
.fstar {
    padding-top: 4px;
    width: 7vw;
    min-width: 100px;
    background: linear-gradient(#a67346, #dc914e);
    border-bottom-right-radius: 30px;
}
.fostar {
    padding-top: 4px;
    width: 7vw;
    min-width: 100px;
    background: linear-gradient(#73659a, #9474c0);
    border-bottom-right-radius: 30px;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.desktxt {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.graf {
    display: flex;
}
.selector {
    float: right;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
select {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: honeydew;
    background-color: rgba(240, 255, 240, .5);
}
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: honeydew;
    background-color: rgba(240, 255, 240, .5);
}
