body {
    margin-left: 0;
}
header {
    width: 5%;
    margin-left: 0;
    height: 100vh;
    position: sticky;
    top: 0px;
    
}
ul {
    width: 100%;
    display: block;
    margin-left: 0;
    padding-left: 0;
}
.hlist {
    background-color: rgba(240, 255, 240, .5);
    list-style-type: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px honeydew;
    border-style: solid;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    min-width: 90px;
}
.hlist:active {
    opacity: 0.8;
}
.hlist:hover {
    background-color: rgba(240, 255, 240, .6);
}
.htext {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(85, 2, 85);
    text-decoration: none;
}
.mainblock {
    display: flex;
}