body {
    margin-left: 0;
}
header {
    width: 15%;
    display: flex;
    max-width: 100px;
    margin-left: 0;
    height: 100vh;
    
}
ul {
    width: 100%;
    display: block;
    margin-left: 0;
    padding-left: 0;
}
li {
    background-color: honeydew;
    list-style-type: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px honeydew;
    border-style: solid;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    margin-bottom: 10px;
}
li:active {
    opacity: 0.8;
}
li:hover {
    box-shadow: 2px black;
}
.htext {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(85, 2, 85);
    text-decoration: none;
}